*           text=auto
*.txt       text eol=lf
*.c         text eol=lf
*.h         text eol=lf
*.sh        text eol=lf
*.jpg       -text
*.cmd       text eol=crlf encoding=cp932
*.org       text eol=lf encoding=utf-8
makefile    text eol=lf
